Module_07/New_virtual_enviroment
Module_07/large_conspect.py
Module_07/package
Module_07/__pycache__

Module_08/lesson_01.py
Module_07/testing_packages.py
Module_07/conspect_module_7.py
Module_09/__pycache__/Hw_0708_Module_09_MAP.cpython-310.pyc
Module_09/test.py
